.mySwiperCoverflow {
  width: 100%;
}

.swiper-slide-photograph {
  background-position: center;
  background-size: cover;
  width: 30%;
  height: 50%;
  margin-block: 3%;
}

.swiper-slide-image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
